.innerContText {
  width: 70%;
  margin: 20px auto;
  max-width: 1400px;
}
.titleTextBlog {
  font-size: 32px;
  margin-bottom: 20px;
}
.descTextBlog {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  .innerContText {
    width: 80%;
  }
  .descTextBlog {
    font-size: 17px;
  }
}
